@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide shadow rounded" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img src="/images/carouselImage/n1.jpg" class="d-block w-100" alt="carouselImage1">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImage/n5.jpg" class="d-block w-100" alt="carouselImage2">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carouselImage/n6.jpg" class="d-block w-100" alt="carouselImage3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h4 class="minititle">Get The Best Food From The Best Restaurants.</h4>
<br /><br /><br />

<div class="row">
    <div class="mb-3" >
        <<h3 style="color:rgb(237, 187, 121); font-weight: bold;font-family: cursive;">Today's Special</h3>
        <br />
        <div id="todaySpecial" class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div id="produ" class=" shadow rounded card dishCard">
                    <img class="card-img-top h-50" src="https://forkify-api.herokuapp.com/images/BBQChickenPizzawithCauliflowerCrust5004699695624ce.jpg" alt="dish" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Pizza</h5>
                        <div class="d-flex flex-wrap justify-content-between">
                            <a href="/Recipe/Order/?id=664c8f193e7aa067e94e8610" ; class="p-2 bg-black text-white btn-custom shadow rounded">Order</a>
                            <span class="AddToCartIcon" onclick="cart.call(this)"
                                  data-recipeId="664c8f193e7aa067e94e8610">
                            <i class="fa-regular fa-heart fs-3"></i></span>


                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div id="produ" class=" shadow rounded card dishCard">
                    <img class="card-img-top h-50" src="http://forkify-api.herokuapp.com/images/gelatin_poke_cake2d07.jpg" alt="dish2" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Jello Dream Cake</h5>
                        <div class="d-flex flex-wrap justify-content-between">
                            <a href="/Recipe/Order/?id=664c8f193e7aa067e94e893a" ; class="p-2 bg-black text-white btn-custom shadow rounded">Order</a>
                            <span class="AddToCartIcon" onclick="cart.call(this)"
                                  data-recipeId="664c8f193e7aa067e94e893a">
                            <i class="fa-regular fa-heart fs-3"></i></span>
                        </div>
                       

                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div id="produ" class=" shadow rounded card dishCard">
                    <img class="card-img-top h-50" src="http://forkify-api.herokuapp.com/images/344130b63.jpg" alt="dish3" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Strawberry Shortcake</h5>
                        <div class="d-flex flex-wrap justify-content-between">
                            <a href="/Recipe/Order/?id=664c8f193e7aa067e94e8421" ; class="p-2 bg-black text-white btn-custom shadow rounded">Order</a>
                            <span class="AddToCartIcon" onclick="cart.call(this)"
                                  data-recipeId="664c8f193e7aa067e94e8421">
                            <i class="fa-regular fa-heart fs-3"></i></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>