@model IEnumerable<FoodApplication.Models.Recipe>

@foreach(var recipe in Model)
{
    <div class="col-sm-4 col-md-43 col-lg-4 col-xl-4 mb-3">
        <div class="shadow rounded">
            <div id="produ" class="card dishCard">
                <img src="@recipe.Image_url" class="card-img-top h-50"/>
                <div class="card-body">
                    <p class="card-title">@recipe.Title</p>
                    <p class="card-text">@recipe.Publisher</p>
                </div>
                <a href="/Recipe/Order/?id=@recipe.Id"; class="p-2 btn-custom">Order</a>

            </div>
        </div>
    </div>
}