<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Mushroom</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Kiwifruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Popcorn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Poutine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Masala</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="">Ice scream</a>
    </li>
</ul>
