<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=mushrooms">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=pumpkin">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=apple">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=banana">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=blackberry">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=blueberry">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=coconut">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=grape">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=kiwifruit">Kiwifruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=mango">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=orange">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=papaya">Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=pineapple">Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=strawberry">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=watermelon">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=salad">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=pizza">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=pasta">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=popcorn">Popcorn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=hamburger">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=pie">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=cake">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=sausage">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=kebab">Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=poutine">Poutine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=seafood">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=chips">Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=fries">Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=masala">Masala</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=chicken">Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=chocolate">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=sushi">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark fw-bold" href="/Recipe/Search?recipe=ice cream">Ice Cream</a>
    </li>
</ul>
