@{
    ViewData["Title"] = "Recipe";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @Html.Partial("_SearchBar")
        </div>
    </div>
    <div class="row">
        <div class="col-2"  >
            <div class="shadow rounded position-sticky" id="recipe-list">
                <div class="border-bottom border-3 p-2">
                    <h4 style="color:rgb(237, 187, 121)" class="text-center fst-italic">Recipes</h4>
                    @Html.Partial("_SideMenu")
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="mb-3">
                <h4 style="color:antiquewhite">Pizza</h4>
                <div class="row" id="pizzaRecipe"></div>
            </div>
            <div class="mb-3">
                <h4 style="color:antiquewhite">Cake</h4>
                <div class="row" id="cakeRecipe"></div>
            </div>
            <div class="mb-3">
                <h4 style="color:antiquewhite">Chicken</h4>
                <div class="row" id="chickenRecipe"></div>
            </div>
            <div class="mb-3">
                <h4 style="color:antiquewhite">Chocolate</h4>
                <div class="row" id="chocolateRecipe"></div>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetRecipies("pizza", "pizzaRecipe", false);
        GetRecipies("cake", "cakeRecipe", false);
        GetRecipies("chicken", "chickenRecipe", false);
        GetRecipies("chocolate", "chocolateRecipe", false);
    })
        

</script>