@{
    ViewData["Title"] = "Search";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4">
            @Html.Partial("_SearchBar")
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="shadow rounded position-sticky" id="recipe-list">
                <div class="border-bottom border-3 p-2">
                    <h4 style="color:rgb(237, 187, 121)" class="text-center fst-italic">Recipes</h4>
                    @Html.Partial("_SideMenu")
                </div>
            </div>
        </div>
        <div class="col-10">
            <h2 class="text-dark">Search Recipes</h2></div>
        <div id="searchRecipes" class="row"></div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetRecipies('@ViewBag.Recipe', 'searchRecipes', true)
    })
    

</script>